<header>
  <div class="header-container">
    <div class="logo">
      <a href="/"><img src="/assets/logo.png" alt="Your Logo" /></a>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/products">Tigla</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="search-box">
      <input type="text" placeholder="Search" />
      <button type="submit"><i class="fas fa-search"></i></button>
    </div>
    <div class="user-controls">
      <a href="/cart"
        ><i class="fas fa-shopping-cart" id="cartBadge" value="0"></i
      ></a>
      <a href="/profile"><i class="fas fa-user"></i></a>
      <a href="/logout"><i class="fas fa-power-off"></i></a>
      <div id="header_username"></div>
    </div>
  </div>
</header>
